@font-face
  font-family: 'ALSHauss'
  src: url('ALSHauss-Regular.eot'),
  src: url('ALSHauss-Regular.woff2') format('woff2'),
  src: url('ALSHauss-Regular.ttf') format('truetype'),
  font-style: normal
  font-weight: normal

@font-face
  font-family: 'ALSHauss'
  src: url('ALSHauss-Medium.eot'),
  src: url('ALSHauss-Medium.woff2') format('woff2'),
  src: url('ALSHauss-Medium.ttf') format('truetype'),
  font-style: normal
  font-weight: 500

@font-face
  font-family: 'ALSHauss'
  src: url('ALSHauss-Bold.eot'),
  src: url('ALSHauss-Bold.woff2') format('woff2'),
  src: url('ALSHauss-Bold.ttf') format('truetype'),
  font-style: normal
  font-weight: bold
