@import "../../sass/mixins"

.add-point
  visibility: hidden
  opacity: 0
  transition: all 0.2s
  height: 0

  &_visible
    visibility: visible
    opacity: 1
    height: 20px

  &__input
    width: 100%
    border: 0
    outline: 0
    box-sizing: border-box
    box-shadow: 0 0 0 1px $black, 0 0 0 2px $white

  &__buttons
    display: flex
    justify-content: flex-end
    color: $white

  &__submit-button
    color: inherit
    width: 20%
    background-color: $orange
    outline: 0
    border: 0
    border-radius: 5px 0 0 5px
    transition: all 0.2s cubic-bezier(0, 1, 1, 1)

    &:hover
      opacity: 0.7

  &__cancel-button
    background-color: $orange
    color: inherit
    width: 20%
    outline: 0
    border: 0
    border-radius: 0 5px 5px 0
    margin-right: 1em
    transition: all 0.2s cubic-bezier(0, 1, 1, 1)

    &:hover
      opacity: 0.7
