.content
  width: 90%
  margin: 0 auto
  min-height: calc(100vh - 160px)

  &__container
    display: grid
    grid-template-columns: repeat(4, 1fr)

  &__heading
    text-align: center
    font-size: 4em
    margin: 80px 0 0

  &__subheading
    text-align: center
    margin: 0 0 70px
    font-size: 1.2em
