@import "../../sass/mixins"

.content
  width: 90%
  margin: 0 auto
  min-height: calc(92vh - 151px)

  @include md
    width: 100%
    min-height: calc(96vh - 159px)

  &__container
    display: grid
    grid-template-columns: repeat(4, 1fr)

    @include xl
      grid-template-columns: repeat(3, 1fr)

    @include lg
      grid-template-columns: repeat(2, 1fr)

    @include sm
      grid-template-columns: 1fr

  &__heading
    text-align: center
    font-size: 4em
    margin: 80px 0 0

    @include md
      font-size: 2.5em
      margin: 1.2em 0 0

  &__subheading
    text-align: center
    margin: 0 0 70px
    font-size: 1.2em

    @include md
      font-size: 1em
      margin: 0 0 1.5em
