@import "../../sass/mixins"

.header
  min-height: 70px
  display: flex
  align-items: center
  justify-content: flex-end
  padding: 1.2em 2em
  position: fixed
  width: 100%
  top: 0
  background-color: $black
  color: $white
  border-radius: 0 0 10px 10px

  @include md
    font-size: 0.8em

  &__login,
  &__email
    margin-right: 2em

  &__signout,
  &__login
    outline: 0
    border: 0
    width: 100px
    padding: 5px
    border-radius: 15px
    transition: all 0.2s cubic-bezier(0, 1, 1, 1)
    background-color: $orange
    color: $white

    &:hover
      transform: translateY(-5px)
      box-shadow: 0 0 0 2px $white
      background-color: $light-blue

  &__signup
    transition: all 0.2s cubic-bezier(0, 1, 1, 1)
    color: $white
    &:hover
      color: $light-blue
