@import url(./vendor/reset.sass)

.header
  height: 80px
  background-color: #fdf

.content
  width: 90%
  margin: 0 auto

  &__container
    display: grid
    grid-template-columns: repeat(3, 1fr)

.card
  margin: 10px

  &__date
    background-color: grey
    border-radius: 5px
    padding: 10px

  &__points
    padding: 0
    margin: 0
    list-style-type: none

  &__add-button
    width: 100%
    padding: 10px
