.login-popup
  position: relative
  min-height: 0

  position: fixed
  top: 50%
  transform: translateY(-50%)
  opacity: 0
  width: 100%
  margin: 0 auto
  z-index: 5
  visibility: hidden

  &_opened
    opacity: 1
    visibility: visible

  &__close-button
    position: absolute
    top: -5px
    right: -5px
