@import "../../sass/mixins"

.login-popup
  position: fixed
  min-height: 100vh
  top: 50%
  transform: translateY(-50%)
  opacity: 0
  width: 100%
  margin: 0 auto
  z-index: 15
  visibility: hidden
  display: flex
  justify-content: center
  align-items: center

  &__overlay
    width: 100%
    height: 100%
    background-color: rgba($black,0.2)
    position: absolute
    top: 0
    left: 0

  &__container
    width: 50%
    position: relative
    max-width: 800px

    @include lg
      width: 60%

    @include md
      width: 80%

    @include sm
      width: 100%

  &_opened
    opacity: 1
    visibility: visible

  &__close-button
    color: $black
    width: 50px
    height: 50px
    position: absolute
    top: -40px
    right: -40px
    font-size: 30px
    background-color: transparent
    outline: 0
    border: 0
    transition: all 0.2s cubic-bezier(0, 1, 1, 1)

    @include sm
      top: -45px
      right: 0

    &:hover
      opacity: 0.7
